


@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #f3f0ff; */

}

.headerDiv{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
}

.header{
    font-family: 'Roboto', serif;
    font-weight: 500;
    background-color: transparent;
    color:#0E283F;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
  /* -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; */
          /* justify-content: space-between; */
          align-items: center;
    transition: background-color 200ms linear;
}

.header_color {
    font-family: 'Roboto', serif;
    font-weight: 500;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; */
          justify-content: space-between;
    background-color: #fff !important;
    color: #0E283F;
    transition: background-color 200ms linear;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.05);
  }

  .menuIcon{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 24px;
      height: 15px;
      margin-right: 15px;
  }
  
  .menuIconLine{
      height: 2px;
      background-color: #0E283F;
  }

  .menuIconLine_color{
      height: 2px;
      background-color: #0E283F;
  }

.tagistoHeaderH1{
    font-size: 25px;
}

.spacing{
    flex: 1;
}

#linksWebView{
    display: none;
}

#linksMobileView{
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
}

.links{
    font-family: 'Roboto';
    display: flex;
}

.links-a{
    margin-left: 30px;
    text-decoration: none;
    color: #0E283F;
    transition: color 200ms linear;
    font-weight: 500;
    font-size: 21px;
}

.links-a-selected{
    text-decoration: underline;
    text-underline-position: under;
}

.links-a_color{
    margin-left: 30px;
    text-decoration: none;
    color: #0E283F;
    transition: color 200ms linear;
    font-weight: 500;
    font-size: 21px;
}

.links-a_color-selected{
    text-decoration: underline;
    text-underline-position: under;
}

.leftArrow{
    cursor: pointer;
    font-size: 24px;
    color: #421ee2;
}

.linksMobileView-a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    color: #421ee2;
    transition: color 200ms linear;
}



.loginBtn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s background;
    color: white;
    background: linear-gradient(180deg, #9941F2 0%, #6724FD 100%);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    margin-left: 40px;
}

.loginBtn:hover{
    transition: .3s background;
    background: linear-gradient(180deg, #6724FD 0%, #6724FD 100%);
}

.btn{
    display: inline-block;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s background;
    background: linear-gradient(180deg, #9941F2 0%, #6724FD 100%);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 10px 30px;
    z-index: 20;
    position: relative;
}

.btn:hover{
    transition: .3s background;
    background: linear-gradient(180deg, #6724FD 0%, #6724FD 100%);
}
.btnWhite{
    display: inline-block;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s background;
    background: linear-gradient(180deg, #0e32ff 0%, #0e32ff 100%);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 10px 30px;
    z-index: 20;
    position: relative;
}

.btnWhite:hover{
    transition: .3s background;
    background: linear-gradient(180deg, #001dc2 0%, #001dc2 100%);
}

.storeIcon{
    height:45px;
    cursor: pointer;
    
}


.hero{
    background-color: #dad4ff;
    background: linear-gradient(180deg, #c2d9ff 0%, #fff 100%);
    display: grid;
    align-items: flex-start;
    align-items: center;
    color: #0E283F;
    padding-top: 100px;
}

.heroLeft{
    padding: 50px 0 0 50px;
    
}

.heroLeft h3{
    font-family: 'Roboto';
    /* font-family: 'Unna'; */
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    margin: 0;
}

.heroLeft p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 30px;
    line-height: 25px;
    font-size: 20px;
}

.heroRight{
    padding: 20px 0px 0px 0px;
}

.heroRight-img{
    width: 100%;
}

.aboutRight-img{
    width: 100%;
}

.description{
    text-align: center;
    padding: 30px;
    color: #000;
}

.descriptionContent{
    padding: 0 0px;
    /* background-color: red; */
}

.description h3{
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0;
    font-size: 40px;
    line-height: 55px;
}

.description p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-top: 20px;
    line-height: 24px;
    font-size: 20px;
}


.centered{
    text-align: center;
    padding: 70px 140px;
    color: #000;
}

.centeredContent{
    padding: 50px 230px;
}

.centered h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 55px;
    margin: 0;
    line-height: 55px;
}

.centered p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 20px;
    line-height: 24px;
    font-size: 18px;
}

.youtube-video{
    outline: none;
    border: none;
    height: 250px;
    width: 100%;
    /* margin-top: 50px; */
    margin-bottom: 20px;
}

.homeGrid{
    display:grid;
    
    align-items: center;
    padding: 30px;
    column-gap: 40px;
    row-gap: 40px;
    color:#000;
}

.homeGridCol{
    text-align: justify;
    /* border-right: 1px solid #000; */
}

.homeGridCol h3{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    margin: 0;
}

.homeGridCol p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 10px;
    line-height: 21px;
    font-size: 16px;
}


.content{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    
    align-items: flex-start;
    align-items: center;
    column-gap: 30px;
    /* row-gap: 0px; */
    color: #0E283F;
}

.contentLeft{
    padding: 0 30px 0 30px;
    
}

.contentLeft h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
}

.contentLeft p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 20px;
    line-height: 32px;
    font-size: 21px;
}

.contentSmall h3{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
    line-height: 35px;
}

.contentSmall p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px;
}

.contentRight{
    /* background-color: rebeccapurple; */
    padding: 0px 0px 0px 0px;
}

.contentRight-img{
    width: 100%;
}


.expander {
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    background-color: rgb(238, 233, 255);
    color: rgb(98, 3, 187);
    cursor: pointer;
    text-align: left;
    border-radius: 15px;
    padding: 20px 22px;
    font-size: 25px;
    font-weight: 700;
  }
  
  .content1 {
    padding: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    display: none;
    text-align: left;
    transition: 3s display;
  }

.floating-logo{
    display: none;
    position: absolute;
    top: 20px; left:20px;
    height: 100px;
}
.static-logo{
    display: block;
    height: 60px;
}

.whatWeR {
    /* font-family: Helvetica; */
    font-family: 'Roboto', serif;
    padding-left:50px;
    padding-top: 50px;
    padding-right: 20px;
}



.whatWeR p {
    border-top: 2px dashed;
    border-color: blue !important;
    margin:0; padding: 30px;
    counter-increment: section;
    position: relative;
    z-index: 1;
  }
  
  .whatWeR p:nth-child(even):before {
    content: counter(section);
    right: 100%; 
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: blue;
    text-align:center;
    color: white;
    font-size: 110%;
  }
  
  .whatWeR p:nth-child(odd):before {
    content: counter(section);
    left: 100%; 
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: blue;
    text-align:center;
    color: white;
    font-size: 110%;
  }
  
  
  
  .whatWeR p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
  }
  
  .whatWeR p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
  }
  
  .whatWeR p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
  .whatWeR p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
  
              
ol {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  
  ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }
  
  ol a:hover { background: #E9E4E0; }
  ol a:hover:before { transform: rotate(360deg); }
  ol a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #f9dd94;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }
      

  .launching{padding:15px;padding-top: 40px;padding-bottom: 0;}

  .launching p{
      margin-bottom: 40px;
  }

  .mocup{
      height: 200px;
  }
  
  .aHref{
      text-decoration: none;
      color: black;
  }

  .aHref:hover{
      color: blue;
      /* line-height: 20px; */
    text-decoration: underline;
    text-underline-position: under;
  }

  .aHref h2::after{
      content: '🔗';
      position: relative;
      top:0;
      font-size: 15px;
      /* margin-left: 10px; */
  }

@media(min-width:500px){
    .homeGrid{grid-template-columns: repeat(2, 1fr);padding: 40px 60px;}
    .description{padding: 30px 80px;}
    .who{padding: 40px 20px;grid-template-columns: repeat(2, 1fr); }
}

@media(min-width:800px){
    .hero{grid-template-columns: 1fr 1fr;padding-top: 0;}
    .heroRight{padding-top: 100px;}
    .description{padding: 30px 140px;}
    .youtube-video{height: 400px;}
    .content{grid-template-columns: 1.5fr 1fr;}
    .contentLeft{padding: 0 0 0 140px;}
    .floating-logo{display: block;}
    .static-logo{display: none;}
    .menuIcon{display: none;}
    #linksWebView{display: block;}
    #linksMobileView{display: none;}
    #webView{display: block;}
    #mobileView{display: none;}
    .whatWeR{padding-left: 100px; padding-top: 0;}
    .launching{padding:20px 100px 0px 100px;}
}

@media(min-width:1000px){
    .homeGrid{grid-template-columns: repeat(3, 1fr);padding: 70px 140px;padding-top: 100px;}
    .description{padding: 30px 180px;}
    .whatWeR{padding-left: 150px}
    .launching{padding:40px 200px 0px 200px;}
}

@media(min-width:1400px){
    .heroLeft{padding: 140px 0px 70px 140px;}
    .heroRight{padding-top: 120px;}
    .description{padding: 30px 300px;}
    .whatWeR{padding-left: 200px}
    .launching{padding:60px 400px 0px 400px;}
}